<div class="relative w-full h-ful">
  <div
    class="p-3 pr-6 pl-6 flex flex-row items-center justify-between border-b-[1px] border-white"
  >
    <!-- Logo -->
    <button [routerLink]="['/']" class="flex items-center gap-2">
      <div class="grid text-center items-center justify-center pt-2">
        <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_d_0_9)">
            <g clip-path="url(#clip0_0_9)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6 2.5H18L16 8.5L18 14.5H6L8 8.5L6 2.5Z"
                fill="white"
              />
            </g>
          </g>
          <defs>
            <filter
              id="filter0_d_0_9"
              x="0"
              y="0.5"
              width="24"
              height="24"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_0_9"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_0_9"
                result="shape"
              />
            </filter>
            <clipPath id="clip0_0_9">
              <rect
                width="16"
                height="16"
                fill="white"
                transform="translate(4 0.5)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
      <span class="font-semibold text-lg"
        >Images
        <span class="text-fourth-color font-extrabold">Py</span>Xpert</span
      >
    </button>

    <!-- Menu -->
    <div class="h-full">
      <ul class="flex gap-10 items-center h-full">
        <a
          class="text-sm cursor-pointer hover:underline hover:underline-offset-4"
          [routerLink]="['/begin/home']"
          routerLinkActive="underline underline-offset-4"
          >Home</a
        >
        <a
          class="text-sm cursor-pointer hover:underline hover:underline-offset-4"
          [routerLink]="['/begin/feature']"
          routerLinkActive="underline underline-offset-4"
          >Features</a
        >
        <a
          class="text-sm cursor-pointer hover:underline hover:underline-offset-4"
          [routerLink]="['/begin/pricing']"
          routerLinkActive="underline underline-offset-4"
        >
          Pricing</a
        >
        <a
          class="text-sm cursor-pointer hover:underline hover:underline-offset-4"
          [routerLink]="['/begin/documentation']"
          routerLinkActive="underline underline-offset-4"
        >
          Documentation</a
        >
        <button
          (click)="logout()"
          class="bg-fourth-color p-3 flex items-center gap-2 rounded-lg hover:bg-[#334D66] cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-logout"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
            />
            <path d="M9 12h12l-3 -3" />
            <path d="M18 15l3 -3" />
          </svg>
          <span class="text-sm">Logout</span>
        </button>
        <li>
          <img
            class="size-10 rounded-full"
            src="{{ userPicture }}"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
