<div class="flex flex-col w-full h-full justify-between gap-4 py-6 text-pretty">
  <h1 class="underline underline-offset-4" >Política de Privacidad</h1>

  <p>
    En Images PyXpert, entendemos la importancia de la privacidad de la
    información personal. A continuación, se describe qué tipos de información
    personal recibimos y recopilamos cuando utilizas Images PyXpert, y cómo la
    protegemos. Esperamos que esta política de privacidad te ayude a tomar
    decisiones informadas sobre el uso de nuestra aplicación.
  </p>

  <h1 class="underline underline-offset-4">Información que recopilamos</h1>

  <p>
    Images PyXpert <strong>NO</strong> recopila la información que nos proporcionas cuando
    utilizas nuestra aplicación. Esta información se queda unicamente visible y
    disponible para el usuario, esta puede incluir, pero no se limita a:
  </p>

  <ul>
    <li>
      Información de inicio de sesión de Google, incluido el nombre de usuario y
      el correo electrónico.
    </li>
    <li>
      Información sobre las fotos seleccionadas para su procesamiento, como
      metadatos de imagen.
    </li>
  </ul>

  <h1 class="underline underline-offset-4">Uso de la información recopilada</h1>

  <p>La aplicación usa la información capturada <strong>SIN</strong>  guardar estos datos, para los siguientes propósitos:</p>

  <ul>
    <li>
      Facilitar la autenticación de usuarios mediante el inicio de sesión de
      Google.
    </li>
    <li>
      Procesar las fotos seleccionadas según las preferencias del usuario.
    </li>
    <li>
      Mejorar y personalizar la experiencia del usuario en Images PyXpert.
    </li>
  </ul>

  <!-- Agrega más secciones según sea necesario -->

  <h1 class="underline underline-offset-4">Contacto</h1>

  <p>
    Si tienes alguna pregunta sobre nuestra política de privacidad, contáctanos
    a través de el siguiente <code><a class="text-fourth-color" href="mailto:daniel20025febrero29@gmail.com" >correo</a></code>.
  </p>
</div>
