<div class="flex flex-col w-full h-full justify-between gap-4 pb-4 text-pretty">
  <h1 class="underline underline-offset-4">Privacy Policy</h1>

  <p>
    We understand the importance of the privacy. Following describes what types
    of information personal information we receive and collect when you use
    Images PyXpert, and how the we protect. We hope this privacy policy helps
    you make informed decisions about the use of our application.
  </p>

  <h1 class="underline underline-offset-4">Data Access Disclosure</h1>

  <p>
    Images PyXpert uses Google login to authenticate users. When doing so,
    Google may collect certain login information, such as your username and
    associated email address. This information is used solely to authenticate
    the user and is not stored or used by Images PyXpert for any other purpose.
    By using our application, you agree that Google may collect and process this
    information in accordance with its own privacy policies.
  </p>

  <h1 class="underline underline-offset-4">Information on Data Protection</h1>

  <p>
    Images PyXpert is committed to protecting the privacy and security of its
    users' data. We do not store or retain any personal information of users in
    our databases. Google login information and metadata of images selected for
    processing are used temporarily during the user session and are not stored
    or shared with third parties. Additionally, all communications between the
    app and Google servers are done securely using standard encryption
    protocols. If you have any questions or concerns about data protection at
    Images PyXpert, please do not hesitate to get in touch.
  </p>

  <h1 class="underline underline-offset-4">Information we collect</h1>

  <p>
    Images PyXpert <strong>NOT</strong> collects the information you provide to
    us when you use our application. This information is only visible and
    available to the user, this may include:
  </p>

  <ul style="padding: 0 1rem">
    <li style="list-style: disc">
      Google login information, including username and the email.
    </li>
    <li style="list-style: disc">
      Information about photos selected for processing, such as image metadata.
    </li>
  </ul>

  <h1 class="underline underline-offset-4">Use of collected information</h1>

  <p>
    The application uses the captured information WITHOUT saving these data, for
    the following purposes:
  </p>

  <ul style="padding: 0 1rem">
    <li style="list-style: disc">
      Facilitate user authentication through login Google.
    </li>
    <li style="list-style: disc">
      Process selected photos according to user preferences.
    </li>
    <li>Improve and personalize the user experience in Images PyXpert.</li>
  </ul>

  <!-- Agrega más secciones según sea necesario -->

  <h1 class="underline underline-offset-4">Contact</h1>

  <p>
    If you have any questions about our privacy policy, please contact us via
    the following
    <code
      ><a class="text-fourth-color" href="mailto:daniel20025febrero29@gmail.com"
        >mail</a
      ></code
    >.
  </p>

  <h1 class="underline underline-offset-4">Contribute</h1>

  <p>
    If you are a developer and want to contribute, you can do so, since this
    project is open source. Access the repository of
    <code
      ><a
        class="text-fourth-color"
        target="_blank"
        href="https://github.com/dmunoz05/images-pyxpert-frontend"
        >Front-End</a
      ></code
    >
    and of the
    <code
      ><a
        class="text-fourth-color"
        target="_blank"
        href="https://github.com/dmunoz05/images-pyxpert-backend"
        >Back-End</a
      ></code
    >
    or
    <code
      ><a
        class="text-fourth-color"
        target="_blank"
        href="https://github.com/dmunoz05/images-pyxpert-websocket"
        >Websockets</a
      ></code
    >.
  </p>
</div>
