<div class="relative z-10 w-full p-6 border-r-[1px] border-white transition-all">
  <div class="relative flex flex-col gap-4 overflow-y-auto overflow-x-hidden">
    <div class="text-center p-4 w-full">
      <h1>Your images</h1>
      <span class="text-fourth-color">Select one image</span>
    </div>
    @if (userPhotos()?.length > 0) { @for (photo of userPhotos(); track $index) {
      <div>
        <button class="relative cursor-pointer z-10" (click)="loadImageSelect(photo)">
          <img class="size-72 rounded-lg" src="{{ photo?.baseUrl }}" id="{{userPhotos()?.id}}" />
          <div class="relative">
            <button (click)="linkImage(photo?.baseUrl, $event)" class="absolute right-2 bottom-2 p-1 bg-fifth-color rounded-lg text-sm cursor-pointer z-20">
              Link
            </button>
          </div>
        </button>
        <div class="flex flex-row gap-2 items-center justify-center pt-1">
          <label class="text-[10px]">Nombre:</label>
          <span class="text-[10px]">{{ photo?.filename }}</span>
        </div>
      </div>
    } } @else {
      <div>
        <h1>No se han cargado las imagenes</h1>
      </div>
    }
  </div>
</div>
