<div class="w-full p-6 border-r-[1px] border-white">
  <div class="relative flex flex-col gap-4 overflow-auto">
    <div class="text-center p-4 w-full">
      <h1>Your images</h1>
      <span>Selec one image</span>
    </div>
    @if (userPhotos?.length > 0) { @for (photo of userPhotos; track $index) {
    <div>
      <a class="hover:cursor-pointer" target="_blank" href="{{ photo?.baseUrl }}" >
        <img class="size-72 rounded-lg" src="{{ photo?.baseUrl }}" id="{{userPhotos?.id}}" />
      </a>
      <div class="flex gap-2">
        <label>Nombre:</label>
        <span>{{ photo?.filename }}</span>
      </div>
    </div>
    } } @else {
    <div>
      <img class="size-72 rounded-lg" src="../../assets/images/image-1.png" />
    </div>
    <div>
      <img class="size-72 rounded-lg" src="../../assets/images/image-2.png" />
    </div>
    <div>
      <img class="size-72 rounded-lg" src="../../assets/images/image-3.png" />
    </div>
    <div>
      <img class="size-72 rounded-lg" src="../../assets/images/image-4.png" />
    </div>
    }
  </div>
</div>
