<div class="absolute top-18 w-full h-full flex">
  <!-- Slidebar seleccionar imagenes -->
  @if (displaySliderBar()) {
  <aside class="relative top-18 left-0 max-w-96 overflow-y-auto mt-16">
    <app-slibar (showSliderBarEvent)="showSliderBar($event)"></app-slibar>
  </aside>
  }

  <!-- Contenido de la seccion -->
  <section class="relative top-18 w-full overflow-y-auto mt-16">
    <div class="h-full max-w-full px-4 pt-4">
      <app-home (showSliderBarEvent)="showSliderBar($event)"></app-home>
    </div>
  </section>
</div>
