@if (showVideo) {
<div class="flex flex-row justify-stretch w-full h-full">
  <div class="w-[50%] h-full flex flex-col justify-center">
    <video
      class="rounded-lg w-full grid place-content-center"
      #videoElement
      autoplay
    ></video>
  </div>
  <div class="w-[50%] h-full grid place-content-center">
    <button
      (click)="endCamera()"
      class="flex flex-row items-center justify-center gap-4 rounded-lg p-3 bg-fifth-color hover:bg-[#050708] hover:text-white"
    >
      Turn off camera
    </button>
  </div>
</div>
}@else {
<div class="h-full grid place-content-center w-[400px] mx-auto">
  <div class="w-full">
    <div class="flex flex-row justify-center p-4">
      <button
        (click)="startCamera()"
        class="flex flex-row items-center justify-center gap-4 rounded-lg p-3 bg-fifth-color hover:bg-[#050708] hover:text-white"
      >
        Turn on camera
      </button>
    </div>
    <div class="text-center">
      <h1>
        This is a model that allows you to distinguish faces using the camera
      </h1>
    </div>
  </div>
</div>
}
