<div class="bg-primary-color h-screen w-full relative overflow-hidden">
  <header class="w-full fixed top-0 bg-primary-color z-10">
    <app-header></app-header>
  </header>
  <div class="absolute top-18  w-full h-full flex">

    <!-- Slidebar seleccionar imagenes -->
    <aside class="relative top-18 left-0 max-w-96 overflow-y-auto pt-16">
      <app-slibar></app-slibar>
    </aside>

    <!-- Contenido de la seccion -->
    <section class="relative top-18 w-full overflow-y-auto pt-16">
      <div class="w-full p-8 flex justify-between gap-4">
        <div>
          <img src="../../assets/images/image-6.png" />
        </div>
        <div class="grid items-center">
          <h1 class=" font-bold text-4xl">Extract Colors from any image</h1>
          <span>Upload an image and we'll generate a color palette for you</span>
          <input class="w-full p-4 rounded-2xl bg-fourth-color outline-none" placeholder="Paste image URL" />
        </div>
      </div>

      <div class="w-full p-8 flex justify-between gap-4">
        <div>
          <img src="../../assets/images/image-6.png" />
        </div>
        <div class="grid items-center">
          <h1 class=" font-bold text-4xl">Extract Colors from any image</h1>
          <span>Upload an image and we'll generate a color palette for you</span>
          <input class="w-full p-4 rounded-2xl bg-fourth-color outline-none" placeholder="Paste image URL" />
        </div>
      </div>

      <div class="w-full p-8 flex justify-between gap-4">
        <div>
          <img src="../../assets/images/image-6.png" />
        </div>
        <div class="grid items-center">
          <h1 class=" font-bold text-4xl">Extract Colors from any image</h1>
          <span>Upload an image and we'll generate a color palette for you</span>
          <input class="w-full p-4 rounded-2xl bg-fourth-color outline-none" placeholder="Paste image URL" />
        </div>
      </div>

      <div class="w-full p-8 flex justify-between gap-4">
        <div>
          <img src="../../assets/images/image-6.png" />
        </div>
        <div class="grid items-center">
          <h1 class=" font-bold text-4xl">Extract Colors from any image</h1>
          <span>Upload an image and we'll generate a color palette for you</span>
          <input class="w-full p-4 rounded-2xl bg-fourth-color outline-none" placeholder="Paste image URL" />
        </div>
      </div>
    </section>
  </div>
</div>
