<div class="flex flex-col w-full h-full">
  @if (isLoggedIn()) {
    <div>
      <h1 class="font-bold text-3xl">
        Welcome <span class=""> {{ userInfo?.info?.name | titlecase }} </span>
      </h1>
    </div>
  } @if (showPhoto()) {
  <div class="pt-6 flex gap-4">
    <div class="max-h-80 flex-row justify-center">
      <div class="grid items-center text-center p-4">
        <h1 class="font-bold text-xl">Your images selected is: </h1>
      </div>
      <div>
        <img class="rounded-lg h-full" src="{{ dataPhoto?.baseUrl }}"/>
      </div>
    </div>

    <div class="w-full h-full mt-4 flex flex-col gap-4">
      <div>
        <h1>What functions you want make with this image</h1>
      </div>
      <div class=" flex gap-4">
        <button
          (click)="processImage(dataPhoto.baseUrl)"
          class="rounded-lg p-2 bg-fifth-color"
        >
          Process Image
        </button>
        <button
          class="rounded-lg p-2 bg-fifth-color"
          (click)="showFunctionColor()"
        >
          Get colors
        </button>
      </div>
    </div>
  </div>

  @if (showPhotoNew()) {
  <div class="pt-6 w-full">
    <img [src]="imagenBase64" alt="Imagen procesada" />
  </div>
  } @if (showfunctionColor()) {
  <div class="pt-10 flex flex-col gap-4 w-full">
    <div>
      <h1 class="text-xl">Color palette</h1>
    </div>
    <div class="flex flex-wrap gap-5">
      <div
        class="flex items-center gap-2 justify-center px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-center px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-center px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-center px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-center px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-center px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
      <div
        class="flex items-center gap-2 justify-between px-4 py-2 rounded-lg border-2 border-[#334D66] bg-fourth-color w-full h-full max-w-32"
      >
        <div class="h-8 w-8 border-none rounded-lg bg-black" [style]=""></div>
        <span class="text-base">#FF000</span>
      </div>
    </div>
  </div>

  <div class="pt-10 flex gap-4">
    <div>
      <h1 class="text-xl">Color analysis</h1>
    </div>
  </div>

  <div class="pt-4 flex flex-wrap gap-4">
    <div
      class="flex flex-col items-center justify-between p-8 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 max-w-96"
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>

    <div
      class="flex flex-col items-center justify-between p-8 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 max-w-96"
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>
  } } @else {

  <div class="flex flex-col w-full justify-center items-center h-full">
    <div class="flex flex-row gap-4 items-center">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-left"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M5 12l6 6" />
          <path d="M5 12l6 -6" />
        </svg>
      </div>
      <h1 class="text-xl">Select an image to display here</h1>
    </div>
    <!-- <img src="{{ dataPhoto?.baseUrl }}" /> -->
    <!-- <img src="../../assets/images/image-6.png" /> -->
  </div>
  }

  <!--
<div class="w-full p-8 flex justify-between gap-4">
  <div>
    <img src="../../assets/images/image-6.png" />
  </div>
  <div class="grid items-center">
    <h1 class="font-bold text-4xl">Extract Colors from any image</h1>
    <span
      >Upload an image and we'll generate a color palette for you</span
    >
    <input
      class="w-full p-4 rounded-2xl bg-fourth-color outline-none"
      placeholder="Paste image URL"
    />
  </div>
</div> -->

  <!-- <div class="w-full p-8 flex justify-between gap-4">
  <div>
    <img src="../../assets/images/image-6.png" />
  </div>
  <div class="grid items-center">
    <h1 class="font-bold text-4xl">Extract Colors from any image</h1>
    <span
      >Upload an image and we'll generate a color palette for you</span
    >
    <input
      class="w-full p-4 rounded-2xl bg-fourth-color outline-none"
      placeholder="Paste image URL"
    />
  </div>
</div> -->

  <!-- <div class="w-full p-8 flex justify-between gap-4">
  <div>
    <img src="../../assets/images/image-6.png" />
  </div>
  <div class="grid items-center">
    <h1 class="font-bold text-4xl">Extract Colors from any image</h1>
    <span
      >Upload an image and we'll generate a color palette for you</span
    >
    <input
      class="w-full p-4 rounded-2xl bg-fourth-color outline-none"
      placeholder="Paste image URL"
    />
  </div>
</div> -->
</div>
