<div class="flex flex-col gap-6 w-full h-full">
  <div class="p-2 w-full h-full">
    @if (showImage()) {
    <div class="w-full h-full grid place-content-center justify-center">
      <h1 class="font-bold text-3xl text-center">Result</h1>
      <img
        style="width: 600px; height: 550px"
        class="rounded-lg"
        [src]="image"
      />
    </div>

    } @if (showCharacteristics()) {
    <div class="w-full h-full flex justify-between flex-col gap-10">
      <div class="w-full flex justify-between flex-row">
        <div
          class="flex flex-col items-center justify-center p-6 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-96"
        >
        <div>
          <h1>Tu foto</h1>
        </div>
          <img class="rounded-lg max-h-full" [src]="image" />
        </div>

        <div>
          <ul>
            <li>Area</li>
            <li>Perimeter</li>
            <li>Ellipticity</li>
            <li>Circularity</li>
            <li>Center X</li>
            <li>Center Y</li>
            <li>Hu_moments</li>
            <li>Heght</li>
            <li>Width</li>
          </ul>
        </div>
      </div>
      <div
        class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
      >
        <apx-chart
          [series]="chartOptionsAreaPerimeter.series"
          [chart]="chartOptionsAreaPerimeter.chart"
          [title]="chartOptionsAreaPerimeter.title"
          [xaxis]="chartOptionsAreaPerimeter.xaxis"
          [stroke]="chartOptionsAreaPerimeter.stroke"
          [theme]="chartOptionsAreaPerimeter.theme"
        ></apx-chart>
      </div>

      <div
        class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
      >
        <apx-chart
          [series]="chartOptionsEllipticityCircularity.series"
          [chart]="chartOptionsEllipticityCircularity.chart"
          [title]="chartOptionsEllipticityCircularity.title"
          [xaxis]="chartOptionsEllipticityCircularity.xaxis"
          [stroke]="chartOptionsEllipticityCircularity.stroke"
          [theme]="chartOptionsEllipticityCircularity.theme"
        ></apx-chart>
      </div>

      <div
        class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
      >
        <apx-chart
          [series]="chartOptionsCenterXCenterY.series"
          [chart]="chartOptionsCenterXCenterY.chart"
          [title]="chartOptionsCenterXCenterY.title"
          [xaxis]="chartOptionsCenterXCenterY.xaxis"
          [stroke]="chartOptionsCenterXCenterY.stroke"
          [theme]="chartOptionsCenterXCenterY.theme"
        ></apx-chart>
      </div>

      <div
        class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
      >
        <apx-chart
          [series]="chartOptionsHuMoments.series"
          [chart]="chartOptionsHuMoments.chart"
          [title]="chartOptionsHuMoments.title"
          [xaxis]="chartOptionsHuMoments.xaxis"
          [stroke]="chartOptionsHuMoments.stroke"
          [theme]="chartOptionsHuMoments.theme"
        ></apx-chart>
      </div>
      <div
        class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
      >
        <apx-chart
          [series]="chartOptionsShapes.series"
          [chart]="chartOptionsShapes.chart"
          [title]="chartOptionsShapes.title"
          [xaxis]="chartOptionsShapes.xaxis"
          [stroke]="chartOptionsShapes.stroke"
          [theme]="chartOptionsShapes.theme"
        ></apx-chart>
      </div>
    </div>
    } @if(!showCharacteristics()) {
    <div class="flex flex-col w-full justify-center items-center h-full">
      <div class="flex flex-col gap-4 items-center">
        <div>
          <h1 class="text-xl">
            Select a image in the
            <a
              class="text-xl hover:cursor-pointer underline underline-offset-4"
              [routerLink]="['/begin/home']"
              routerLinkActive="underline underline-offset-4"
              >Home</a
            >
            first and you can see here of result
          </h1>
        </div>
      </div>
    </div>
    }
  </div>
</div>
