<div class="flex flex-col gap-6 w-full h-full">
  <div class="p-2 w-full h-full">
    @if (showImage()) {
    <div class="w-full h-full grid place-content-center justify-center">
      <h1 class="font-bold text-3xl text-center">Result</h1>
      <img
        style="width: 600px; height: 550px"
        class="rounded-lg"
        [src]="image"
        alt="result of process"
      />
    </div>

    } @if (showCharacteristics()) {
    <div class="w-full h-full flex justify-between flex-col gap-10">
      <div class="w-full flex justify-between flex-row">
        <div>
          <h1 class="font-bold pb-2 text-center text-xl">Your photo</h1>
          <div
            class="flex flex-col items-center justify-center p-6 rounded-lg border-2 border-[#334D66] bg-transparent h-96 w-96"
          >
            <img
              class="rounded-lg w-full h-full"
              [src]="image"
              alt="result of process"
            />
          </div>
        </div>

        <div class="flex flex-col justify-center w-full">
          <div class="p-4 flex justify-center">
            <h1 class="font-bold text-center text-xl">
              Here you can see these characteristics of the image
            </h1>
          </div>
          <ul
            class="text-center flex justify-center items-center flex-row gap-4"
          >
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Area
            </li>
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Perimeter
            </li>
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Ellipticity
            </li>
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Circularity
            </li>
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Center X
            </li>
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Center Y
            </li>
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Hu Momments
            </li>
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Heght
            </li>
            <li
              class="p-2 rounded-lg bg-third-color text-[#243647] font-medium"
            >
              Width
            </li>
          </ul>
        </div>
      </div>

      <div>
        <div>
          <h1 class="font-bold pb-2 text-center text-xl">Area and Perimeter</h1>
        </div>
        <div
          class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
        >
          <apx-chart
            [series]="chartOptionsAreaPerimeter.series"
            [chart]="chartOptionsAreaPerimeter.chart"
            [xaxis]="chartOptionsAreaPerimeter.xaxis"
            [stroke]="chartOptionsAreaPerimeter.stroke"
            [theme]="chartOptionsAreaPerimeter.theme"
          ></apx-chart>
        </div>
      </div>

      <div>
        <div>
          <h1 class="font-bold p-2 text-center text-xl">
            Ellipticity and Circularity
          </h1>
        </div>
        <div
          class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
        >
        <apx-chart
        [series]="chartOptionsEllipticityCircularity.series"
        [labels]="chartOptionsEllipticityCircularity.labels"
        [chart]="chartOptionsEllipticityCircularity.chart"
        [dataLabels]="chartOptionsEllipticityCircularity.dataLabels"
        [responsive]="chartOptionsEllipticityCircularity.responsive"
        [legend]="chartOptionsEllipticityCircularity.legend"
        [theme]="chartOptionsEllipticityCircularity.theme"
      ></apx-chart>

        </div>
      </div>

      <div>
        <div>
          <h1 class="font-bold p-2 text-center text-xl">
            Center X and Center Y
          </h1>
        </div>
        <div
          class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
        >
          <apx-chart
            [series]="chartOptionsCenterXCenterY.series"
            [chart]="chartOptionsCenterXCenterY.chart"
            [xaxis]="chartOptionsCenterXCenterY.xaxis"
            [stroke]="chartOptionsCenterXCenterY.stroke"
            [theme]="chartOptionsCenterXCenterY.theme"
            [plotOptions]="chartOptionsCenterXCenterY.plotOptions"
          ></apx-chart>
        </div>
      </div>

      <div>
        <div>
          <h1 class="font-bold p-2 text-center text-xl">Hu Momments</h1>
        </div>

        <div
          class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
        >
          <apx-chart
            [series]="chartOptionsHuMoments.series"
            [chart]="chartOptionsHuMoments.chart"
            [xaxis]="chartOptionsHuMoments.xaxis"
            [yaxis]="chartOptionsHuMoments.yaxis"
            [stroke]="chartOptionsHuMoments.stroke"
            [theme]="chartOptionsHuMoments.theme"
          ></apx-chart>
        </div>
      </div>

      <div>
        <div>
          <h1 class="font-bold p-2 text-center text-xl">Height and Width</h1>
        </div>
        <div
          class="p-4 rounded-lg border-2 border-[#334D66] bg-transparent max-h-96 w-full"
        >
          <apx-chart
            [series]="chartOptionsShapes.series"
            [chart]="chartOptionsShapes.chart"
            [xaxis]="chartOptionsShapes.xaxis"
            [stroke]="chartOptionsShapes.stroke"
            [theme]="chartOptionsShapes.theme"
          ></apx-chart>
        </div>
      </div>
    </div>
    } @if(!showCharacteristics() && !showImage()) {
    <div class="flex flex-col w-full justify-center items-center h-full">
      <div class="flex flex-col gap-4 items-center">
        <div>
          <h1 class="text-xl">
            Select a image in the
            <a
              class="text-xl hover:cursor-pointer underline underline-offset-4"
              [routerLink]="['/begin/home']"
              routerLinkActive="underline underline-offset-4"
              >Home</a
            >
            first and you can see here of result
          </h1>
        </div>
      </div>
    </div>
    }
  </div>
</div>
